<br/>
<div class="content-wrapper formStyle">
  <table class="table" >
    <h5><%= address_type.capitalize %> Addresses</h5>
    <thead>
      <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
      </tr>
    </thead>

    <% @user.addresses.select { |a| a.send(address_type) }.each do |address| %>
    <tbody>
        <td class='col-md-2'><%= address.street %></td>
        <td class='col-md-2'><%= address.city %></td>
        <td class='col-md-2'><%= address.state %></td>
        <td class='col-md-2'><%= address.zip %></td>
    </tbody>
    <% end %>
  </table>
</div>
