<%= render partial: 'shared/category_sidebar', locals: { categories: @categories} %>

<div class='align-to-sidebar'>
  <% categories.each do |category| %>
    <span id="<%= category.name %>">
      <div class="col-md-10">
        </br></br>
        <table class="table">
          <h2 class='category-header'><%= category.name %></h2>
          <thead>
            <tr>
              <th></th>
              <th>Item</th>
              <th>Unit Size</th>
              <th>Units Available</th>
              <th>Unit Price</th>
              <th></th><th></th>
            </tr>
          </thead>
          <tbody>
            <% category.items.each do |item| %>
              <div>
                <tr>
                  <td><%= image_tag item.picture.url(:thumb), :size => '32x32', :class => "img-rounded" %></td>
                  <td class='col-md-3'><%= link_to item.title, item_path(item) %></td>
                  <td ><%= item.size %></td>
                  <td><%= item.inventory %></td>
                  <td><%= item.format_price %></td
                    <td></td><td class='col-md-3'><a class='details-link'>Details</a></td>
                    <td><button class='btn btn-primary cart-link'>Add to Cart</button></td>
                  </tr>
                  <tr class='details-info hidden'>
                    <td></td>
                    <td class='col-md-3'>Description: <br/><%= item.description %></td>
                    <td></td><td></td><td></td>
                    <td class='col-md-3'>Supplier: <br/><%= item.supplier.name %></td>

                  </tr>
                  <tr class='cart-info hidden'>
                    <td></td></td><td></td><td></td><td></td><td></td>
                  <td>
                    <%= form_tag(add_to_cart_path) do %>
                      <input type="hidden" name="item_id" value="<%= item.id %>">
                      <div class="col-md-10">
                        <div class="input-group">
                          <span class="input-group-addon">Qty</span>
                          <input type="text" class="form-control" name="quantity" value="1">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="col-md-3">
                        <%= button_tag 'Submit', class: 'btn btn-danger' %>
                      </div>
                    <% end %>
                  </tr>
                </div>
              <% end %>
            </tbody>
          </table>
        </div>
      </span>
    <% end %>
  </div>
