<% categories.each do |category| %>
  <div class="row">
    <div class="col-md-12">
      <h1><%= category.name %></h1>
    </div>
  </div>
  <% category.items.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |item| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <% if item.picture_file_name != nil %>
              <%= image_tag item.picture.url, :class => "img-circle" %>
            <% else %>
              <%= image_tag("#{item.title}.png", :class => "img-circle") %>
            <% end %>

            <div class="caption">
              <h3><%= link_to item.title, item_path(item) %></h3>
              <p><%= item.description %></p>
              <p><%= item.price_pie %></p>
              <div class="row">
                <%= form_tag(add_to_cart_path) do %>
                  <input type="hidden" name="item_id" value="<%= item.id %>">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">Qty</span>
                      <input type="text" class="form-control" name="quantity" value="1">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <%= button_tag 'Add To Cart', class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
