<%= render partial: 'shared/category_sidebar', locals: { categories: @categories} %>

<% if @added[:item_name] != nil %>
  <div class='added-custom-box pull-right col-md-2'>
    <div class='added-caption'>Added To Cart:</br>
      <img src="/assets/<%= @added[:item_picture] %>" height='32' width='32' class='img-rounded'>
      <%= @added[:item_name] %>
    </div>
  </div></br>
<% end %>
<br/>
<div class='align-to-sidebar'><br/>
  <% categories.each do |category| %>
    <div id="<%= category.id %>">
      <div class='col-md-10 custom-box category-items'>
        <h2 class='category-header'><%= category.name %></h2>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2">Item</th>
              <th class="col-md-1">Size</th>
              <th class="col-md-1">Units Available</th>
              <th class="col-md-1">Price</th>
              <th class="col-md-1"></th>
              <th class="col-md-5"></th>
            </tr>
          </thead>
          <tbody>
            <% category.items.each do |item| %>
              <tr>
                <td><%= image_tag item.picture.url(:thumb), :size => '32x32', :class => "img-rounded" %></td>
                <td><a class='details-link'><%= item.title %></a></td>
                <td><%= item.size %></td>
                <td><%= item.inventory %></td>
                <td><%= item.format_price %></td>
                <td><a class='details-link'>Details <span class='fa fa-angle-down'></span></a></td>
                <td style='text-align:center'>
                  <% if item.out_of_stock? %>
                    <strong>Out of Stock</strong>
                  <% else %>
                    <%= form_tag(add_to_cart_path) do %>
                      <input type="hidden" name="item_id" value="<%= item.id %>">
                      <% if @supplier %>
                        <input type='hidden' name='supplier_id' value="<%= @supplier.id %>">
                      <% end %>
                      <div class="col-md-7">
                        <div class="input-group">
                          <span class="input-group-addon">Qty</span>
                          <input type="text" class="form-control add-cart-qty-box" name="quantity" value="">
                        </div>
                      </div>
                      <div class="col-md-5">
                        <%= button_tag 'Add To Cart', class: 'btn add-cart-btn' %>
                      </div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <tr class='details-info hidden'>
                <td colspan="7">
                  <div class="col-md-6">
                    Description: </br><%= item.description %>
                  </div>
                  <div class="col-md-6">
                    Supplier: </br><%= item.supplier.name %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>  
        </table>
      </div>
    </div>
  <% end %>
</div>
