<div class="row">
  <div class="col-md-4">
      <%= image_tag @item.picture.url(:medium), :class => "img-rounded" %>
  </div>
  <div class="col-md-8">
    <h3><%= @item.title %></h3>
    <p>
      <%= @item.description %>
    </p>
    <p>Unit Size: <%= @item.size %> |
    Units Available: <%= @item.inventory %> |
    Unit Price: <%= @item.format_price %></p>

    <%= link_to 'Edit', edit_dashboard_supplier_item_path(current_supplier, @item), class: 'btn btn-primary' %>
    <%= link_to 'Back to All Items', dashboard_supplier_items_path, class: 'btn btn-default' %>
  </div>
</div>
