<div class="row">
  <div class="col-md-4">
      <%= image_tag @item.picture.url(:medium), :class => "img-rounded" %>
  </div>
  <div class="col-md-8">
    <h3><%= @item.title %></h3>
    <p>
      <%= @item.description %>
    </p>
    <p>Unit Size: <%= @item.size %></p>
    <p>Units Available: <%= @item.inventory %></p>
    <p>Unit Price: <%= @item.format_price %></p>

    <%= link_to 'Edit', edit_dashboard_supplier_item_path(current_supplier, @item) %> |
    <%= link_to 'Back to All Items', dashboard_supplier_items_path %>
  </div>
</div>
