<div class="content-wrapper formStyle">
  <h1>Order Overview</h1>
  <table class='table'>
    <thead>
      <tr>
        <th>Item:</th>
        <th>Price:</th>
        <th>Quantity:</th>
        <th>Item Total:</th>
      </tr>
    </thead>

    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= link_to item.item.title, item_path(item.item) %></td>
          <td><%= item.item.format_price %></td>
          <td><%= item.quantity %></td>
          <td><%= item.total_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <div class="span6 offset3">

      <%= form_for(@order, :html => { :class => "form-horizontal"}) do |f| %>

        <div class="form-group">
          <div class="col-sm-10">
            <%= f.radio_button(:order_type, "Pickup") %>
            <%= f.label(:order_type, "Pickup") %>
            <%= f.radio_button(:order_type, "Delivery") %>
            <%= f.label(:order_type, "Delivery") %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10">
            Delivery Address
            <% current_user.addresses.delivery.each do |address| %>
              <%= f.radio_button(:delivery_address_id, address.id) %>
              <%= f.label(:delivery_address_id, address.street) %>
            <% end %>
            <%= link_to 'Add Delivery Address', new_dashboard_user_address_path %>
          </div>
        </div>

        <div class="form-group">
          <label for="CardCardNumber">Credit Card Number</label>
          <input type="text" class="form-control" id="credit_card" data-stripe="number">
          <label for="ExpirationDate">Expiration Date</label>
          <input type="text" class="form-control" id="exp_month" data-stripe="exp-month">
          <input type="text" class="form-control" id="exp_year" data-stripe="exp-year">
          <label for="CVV">CVV</label>
          <input type="text" class="form-control" id="cvv" data-stripe="cvv">
        </div>

      </div>

      <%= f.submit value="Place Order", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
