  <div class="content-wrapper formStyle users-tables">
    <div class='custom-box'>
    <h3>Admins</h3>
    <table class="table admins">
      <thead>
        <tr>
          <th>Name:</th>
          <th>Email:</th>
          <th>Role</th>
          <th>Options:</th>
        </tr>
      </thead>

      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td class='item_title'><%= admin.full_name %></td>
            <td class='item_description'><%= admin.email %></td>
            <td class='item_price'><%= admin.role %></td>
            <td>
              <% if current_user != admin %>
              <%= link_to 'Remove Admin', dashboard_supplier_user_path(current_supplier, admin),method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><br/>

    <div class='custom-box'>
    <h3>Requests</h3>
    <table class="table pending">
      <thead>
        <tr>
          <th>User Name:</th>
          <th>User Email:</th>
          <th>Status:</th>
          <th>Options:</th>
        </tr>
      </thead>

      <tbody>
        <% @pending.each do |pending| %>
          <tr>
            <td class='item_title'><%= pending.full_name %></td>
            <td class='item_description'><%= pending.email %></td>
            <td class='item_price'>Pending</td>
            <td>
              <%= link_to 'Add As Admin', dashboard_supplier_add_pending_path(current_supplier, pending) %> |
              <%= link_to 'Remove Pending Admin', dashboard_supplier_remove_pending_path(current_supplier, pending), data: { confirm: 'Are you sure?' } %> |
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div></br>
    <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>
  </div>
