<h1><%= @user.full_name %></h1>
<h5><%= @user.display_name %></h5>
<h5><%= @user.email %></h5></br>

<%= render partial: 'shared/address_table', locals: { address_type: 'billing' } %>
<%= render partial: 'shared/address_table', locals: { address_type: 'shipping' } %>

<br/><%= link_to 'Edit Account', edit_dashboard_user_path, class: 'btn btn-default' %><br/><br/>
