<div class="form-group">
  <div class="span6 offset3">
    <%= form_for([:dashboard, current_user, @address], :html => { :class => "form-horizontal"}) do |f| %>

    <%= render partial: 'shared/error_messages', locals: { obj: @address } %>

      <div class="form-group">
        <%= f.label :street, :class => "col-sm-1 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :street, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :city, :class => "col-sm-1 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :state, :class => "col-sm-1 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :state, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :zip, :class => "col-sm-1 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :zip, :class => "col-sm-1 control-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.label(:shipping, "Shipping Address") %>
          <%= f.radio_button(:shipping, "TRUE") %>
          <%= f.label(:shipping, "Billing Address") %>
          <%= f.radio_button(:shipping, "FALSE") %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <div class="actions">
            <%= f.submit value="Save Changes", class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
