</br><div class='custom-box'>
<h1>Items in Your Cart</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Item:</th>
      <th>Price:</th>
    <th>Quantity:</th>
    <th></th>
      <th>Item Subtotal:</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td><%= link_to item.item.title, item_path(item.item) %></td>
        <td><%= item.item.format_price %></td>

        <td class='col-md-2'>
          <%= form_for item, url: { action: :update, id: item.id }, method: :put do %>
            <input type="hidden" name="item_id" value="<%= item.id %>">
            <div class="input-group">
              <input type="text" class="form-control qty-box" name="quantity" value="<%=item.quantity%>">
              </div>
            </td>
            <td><%= button_tag 'Update Quantity', method: :put, class: 'btn cart-btn invisible' %>
              <%= link_to cart_path(id: item.id), method: :delete, id: 'remove-from-cart feature-thumb' do %><span class='fa fa-trash fa-lg'></span><% end %></td>
        <% end %>
        <td><%= item.total_price %></td>
    <% end %>
  </tbody>
</table>
<div>
  Total: <%= @cart.get_total %>
</div><br>
<div>
  <% if !@cart.empty? %>
    <% if current_user %>
      <%= link_to 'Enter Your Billing Info', new_order_path, class: "btn btn-primary"%>
    <% else %>
      Please sign in or register to checkout.</br></br>
      <%= link_to 'Register', signup_path,  class: "btn btn-primary" %> <%= link_to 'Sign in', signin_path, class: "btn btn-primary"  %>
    <% end %>
  <% else %>
      You don't have anything in your cart!
  <% end %>

</div>
</div>
