<div class="row">
  <div class="col-md-2">
    <div class="list-group" id='sidebar-padding'>
      <%= link_to 'User Information', dashboard_user_path, class: 'btn btn-default list-group-item' %>
    </div>
  </div>
  <div class="col-md-10">
    <% if @suppliers.count > 0 %>
      <table class="table table-hover">
        <h3> Supplier Management </h3>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.name %></td>
            <td><%= link_to 'Item Management', dashboard_supplier_items_path(supplier) %></td>
            <td><%= link_to 'Order Management', dashboard_supplier_sub_orders_path(supplier) %></td>
            <td><%= link_to 'Admin Management', dashboard_supplier_users_path(supplier) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <table class="table table-hover">
      <h3>Purchased Orders</h3>
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Total</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at.to_formatted_s(:short) %></td>
            <td><%= order.get_total %></td>
            <td><%= order.order_type.capitalize %></td>
            <td><%= order.order_status.capitalize %></td>
            <td><%= link_to 'View Order Details', dashboard_order_path(order) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
