<%= form_for([:supplier, @category], :html => { :class => "form-horizontal"}) do |f| %>
  <%= render partial: "shared/error_messages", locals: { obj: @category } %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit value="Save Changes"%>
  </div>
<% end %>
