<%= form_for(@category) do |f| %>
  <%= render partial: "shared/error_messages", locals: { obj: @category } %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit value="Save Changes"%>
  </div>
<% end %>
