<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href=#all role="tab" data-toggle="tab">All</a></li>
  <li><a href="#ordered" role="tab" data-toggle="tab">Ordered</a></li>
  <li><a href="#paid" role="tab" data-toggle="tab">Paid</a></li>
  <li><a href="#cancelled" role="tab" data-toggle="tab">Cancelled</a></li>
  <li><a href="#completed" role="tab" data-toggle="tab">Completed</a></li>
</ul>
<div class="tab-content">
  <br/><div class="tab-pane fade in active custom-box" id="all">
    <table class='table custom-box'>
      <thead>
        <tr>
          <th>Order ID:</th>
          <th>User:</th>
          <th>Order Total:</th>
          <th>Order Type:</th>
          <th>Delivery Address:</th>
          <th>Order Status:</th>
          <th>Options:</th>
        </tr>
      </thead>

      <tbody>
        <% @sub_orders.each do |sub_order| %>
        <tr>
          <td><%= sub_order.id %></td>
          <td><%= sub_order.provider_name %></td>
          <td><%= sub_order.get_total %></td>
          <td><%= sub_order.order_type %></td>
          <td><%= sub_order.delivery_address_id%></td>
          <td><%= sub_order.status%></td>
          <td>
            <%= link_to "Show", dashboard_supplier_sub_order_path(current_supplier, sub_order)%> |
            <%= link_to "Delete", dashboard_supplier_sub_order_path(current_supplier, sub_order), method: :delete, data: { confirm: 'Are you sure?'} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>

  </div>

</br><div class="tab-pane fade custom-box" id="ordered">
  <table class='table custom-box'>
    <thead>
      <tr>
        <th>Order ID:</th>
        <th>User:</th>
        <th>Order Total:</th>
        <th>Order Type:</th>
        <th>Delivery Address:</th>
        <th>Order Status:</th>
        <th>Options:</th>
      </tr>
    </thead>

    <tbody>
      <% @ordered.each do |sub_order| %>
      <tr>
        <td><%= sub_order.id %></td>
        <td><%= sub_order.provider_name %></td>
        <td><%= sub_order.get_total %></td>
        <td><%= sub_order.order_type %></td>
        <td><%= sub_order.delivery_address_id%></td>
        <td><%= sub_order.status%></td>
        <td>
          <%= link_to "Show", dashboard_supplier_sub_order_path(current_supplier, sub_order)%> |
          <%= link_to "Delete", dashboard_supplier_sub_order_path(current_supplier, sub_order), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>


</div>

<div class="tab-pane fade" id="paid">
  <table class='table custom-box'>
    <thead>
      <tr>
        <th>Order ID:</th>
        <th>User:</th>
        <th>Order Total:</th>
        <th>Order Type:</th>
        <th>Delivery Address:</th>
        <th>Order Status:</th>
        <th>Options:</th>
      </tr>
    </thead>

    <tbody>
      <% @paid.each do |sub_order| %>
      <tr>
        <td><%= sub_order.id %></td>
        <td><%= sub_order.provider_name %></td>
        <td><%= sub_order.get_total %></td>
        <td><%= sub_order.order_type %></td>
        <td><%= sub_order.delivery_address_id%></td>
        <td><%= sub_order.status%></td>
        <td>
          <%= link_to "Show", dashboard_supplier_sub_order_path(current_supplier, sub_order)%> |
          <%= link_to "Delete", dashboard_supplier_sub_order_path(current_supplier, sub_order), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>



</div>


<div class="tab-pane fade" id="cancelled">
  <table class='table custom-box'>
    <thead>
      <tr>
        <th>Order ID:</th>
        <th>User:</th>
        <th>Order Total:</th>
        <th>Order Type:</th>
        <th>Delivery Address:</th>
        <th>Order Status:</th>
        <th>Options:</th>
      </tr>
    </thead>

    <tbody>
      <% @cancelled.each do |sub_order| %>
      <tr>
        <td><%= sub_order.id %></td>
        <td><%= sub_order.provider_name %></td>
        <td><%= sub_order.get_total %></td>
        <td><%= sub_order.order_type %></td>
        <td><%= sub_order.delivery_address_id%></td>
        <td><%= sub_order.status%></td>
        <td>
          <%= link_to "Show", dashboard_supplier_sub_order_path(current_supplier, sub_order)%> |
          <%= link_to "Delete", dashboard_supplier_sub_order_path(current_supplier, sub_order), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>
</div>
<div class="tab-pane fade" id="completed">
  <table class='table custom-box'>
    <thead>
      <tr>
        <th>Order ID:</th>
        <th>User:</th>
        <th>Order Total:</th>
        <th>Order Type:</th>
        <th>Delivery Address:</th>
        <th>Order Status:</th>
        <th>Options:</th>
      </tr>
    </thead>
    <tbody>
      <% @completed.each do |sub_order| %>
      <tr>
        <td><%= sub_order.id %></td>
        <td><%= sub_order.provider_name %></td>
        <td><%= sub_order.get_total %></td>
        <td><%= sub_order.order_type %></td>
        <td><%= sub_order.delivery_address_id%></td>
        <td><%= sub_order.status%></td>
        <td>
          <%= link_to "Show", dashboard_supplier_sub_order_path(current_supplier, sub_order)%> |
          <%= link_to "Delete", dashboard_supplier_sub_order_path(current_supplier, sub_order), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>
</div>
