<div class="content-wrapper formStyle">
  <h1>Order Management</h1>
  <h3>Order Status Counts:</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>All Orders:</th>
        <th>Paid:</th>
        <th>Cancelled:</th>
        <th>Completed:</th>
        <th>Ordered:</th>
      </tr>
    </thead>

    <tbody>
      <td><%= link_to 'See All Orders', dashboard_supplier_sub_orders_path(current_supplier) %>(<%= SubOrder.all_count %>)</td>
      <td><%= link_to 'See Paid Orders', dashboard_supplier_sub_orders_path(current_supplier, filter: 'paid') %>(<%= SubOrder.status_counts[SubOrder::Status::PAID] %>)</td>
      <td><%= link_to 'See Cancelled Orders', dashboard_supplier_sub_orders_path(current_supplier, filter: 'cancelled') %>(<%= SubOrder.status_counts[SubOrder::Status::CANCELLED] %>)</td>
      <td><%= link_to 'See Completed Orders', dashboard_supplier_sub_orders_path(current_supplier, filter: 'completed') %>(<%= SubOrder.status_counts[SubOrder::Status::COMPLETED] %>)</td>
      <td><%= link_to 'See Ordered/Pending Orders', dashboard_supplier_sub_orders_path(current_supplier, filter: 'ordered') %>(<%= SubOrder.status_counts[SubOrder::Status::ORDERED] %>)</td>
    </tbody>
  </table>


  <table class='table'>
    <thead>
      <tr>
        <th>Order ID:</th>
        <th>User:</th>
        <th>Order Total:</th>
        <th>Order Type:</th>
        <th>Delivery Address:</th>
        <th>Order Status:</th>
        <th>Options:</th>
      </tr>
    </thead>

    <tbody>
      <% @sub_orders.each do |sub_order| %>
      <tr>
        <td><%= sub_order.id %></td>
        <td><%= sub_order.provider_name %></td>
        <td><%= sub_order.get_total %></td>
        <td><%= sub_order.order_type %></td>
        <td><%= sub_order.delivery_address_id%></td>
        <td><%= sub_order.status%></td>
        <td>
          <%= link_to "Show", dashboard_supplier_sub_order_path(current_supplier, sub_order)%> |
          <%= link_to "Delete", dashboard_supplier_sub_order_path(current_supplier, sub_order), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>
</div>
