
<div class="content-wrapper formStyle">
  <div  class='custom-box'>
  <h3>Order Overview</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Order Date and Time</th>
        <th>Order Total</th>
        <th>Order Type</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @order.created_at.to_formatted_s(:long) %></td>
        <td><%= @order.get_total %></td>
        <td>
          <%= @order.order_type.upcase %><br/>
          <% if @order.delivery_address_id %>
            <%= @delivery_address.street %>
            <%= @delivery_address.city %>
            <%= @delivery_address.state %>
            <%= @delivery_address.zip %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div><br/>

  <div class='custom-box'>
  <h3>Order Items</h3>
  <table class="table">
    <thead id='order-items-header'>
      <tr>
        <th>Supplier</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td class='col-md-3'><%= link_to order_item.item.supplier.name, supplier_path(order_item.item.supplier) %></td>
          <td><strong><%= link_to "#{order_item.item.title}", item_path(order_item.item) %></strong></td>
          <td><%= order_item.item.format_price %></td>
          <td><%= order_item.quantity%></td>
          <td><%= order_item.get_subtotal %></td>
          <td><%= order_item.sub_order.status %></td>
            <td>
            Last updated at: <%= order_item.sub_order.updated_at.to_formatted_s(:long)%>
          </td>
        </tr>
      <% end %>
      </tr>
    </tbody>
  </table>
</div></br>

  <%= link_to 'Back to Dashboard', dashboard_root_path, class: 'btn btn-default' %>
</div>
