<table>
<% @suppliers.each do |supplier| %>
    <div>
        <tr>
          <td class='col-md-2'><%= image_tag supplier.picture.url(:thumb), :size => '128x128', :class => "img-rounded" %></td>
          <td class='col-md-2'><h3><a href='<%= supplier_path(supplier)%>' class='supplier-link'><%= supplier.name %></a></h3></td>
          <td class='col-md-2'><%= supplier.description %></td>
          <td class='col-md-2'><a href='<%= supplier.url %>' class='supplier-link'><%= supplier.url %></a></td>
        </tr>
    </div>
<% end %></br>
</table>
